<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Connexion</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-blue-Gradient-1.css">
    <link rel="stylesheet" href="assets/css/Login-Form-blue-Gradient.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section>
        <div class="lgp-hd">
            <h2><strong>CONNEXION</strong></h2>
        </div>
        <div class="container login-cont">
            <div class="row">
                <div class="col-10 col-sm-6 col-md-4 col-lg-4 offset-1 offset-sm-3 offset-md-4 offset-lg-4 login-col"><i class="icon ion-lock-combination"></i>
                    
                    <form class="login-form" method="POST">
                        <div class="form-group">
                            <input name= "email" class="form-control form-control-lg lg-frc" type="email" required="" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input name= "pass" class="form-control form-control-lg lg-frc" type="password" required="" placeholder="Mot de passe">
                        </div>
                        <div class="form-group">
                            <input class="btn btn-light btn-lg login-btn" type="submit" style="padding-left: 30px;padding-right: 30px;" value="Connexion" />
                        </div>
                        <a href="#" style="margin-right: 10px;">S'inscrire</a>
                        <a href="#">Mot de passe oublié</a>
                        <a class="d-block" href="#">Retour</a>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>