<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>inscription</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-blue-Gradient-1.css">
    <link rel="stylesheet" href="assets/css/Login-Form-blue-Gradient.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section>
        <div class="lgp-hd">
            <h2><strong>FORMULAIRE D'INSCRIPTION</strong></h2>
        </div>
        <div class="container login-cont">
            <div class="row">
                <div class="col-10 col-sm-6 col-md-4 col-lg-4 offset-1 offset-sm-3 offset-md-4 offset-lg-4 login-col"><i class="icon ion-lock-combination"></i>
                   
                    <form class="login-form" method="POST">
                        <div class="form-group">

                            <input name="nom" class="form-control form-control-lg" type="text" style="height: 48px;padding: 8px 16px;margin-bottom: 15px;" placeholder="Nom" required="">
                            <input name="prenoms" class="form-control form-control-lg" type="text" style="height: 48px;padding: 8px 16px;margin-bottom: 15px;" required="" placeholder="Prenoms">
                            <input name="age" class="form-control form-control-lg" type="number" style="height: 48px;padding: 8px 16px;margin-bottom: 15px;" required="" placeholder="Age">
                            <input name="email" class="form-control form-control-lg" type="email" style="height: 48px;padding: 8px 16px;margin-bottom: 15px;" required="" placeholder="Email">
                            <input name="pass" class="form-control form-control-lg" type="password" required="" placeholder="Mot de passe" style="margin-bottom: 15px;">
                            <input name="img" type="file" style="width: 219.328px;height: 48px;margin-bottom: 15px;">
                            
                            <button class="btn btn-light btn-lg login-btn" type="submit" style="margin-top: 0px;background-color: #3c8bb8;">
                            <strong>CONFIRMER INSCRIPTION</strong></button>
                        </div>

                        <a class="d-block" href="#">Mot de passe oublié ?</a><a href="#">Annuler</a></form>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>